@charset "utf-8";

/*base styling*/

html{
    height: 100%;
}

body{
    width:100%;
    min-height:100%;
    margin:0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Base textbox styling */

.blurb{
    color: white;
    background-color: rgb(89, 77, 170);
    text-align: center;
    font-size: larger;
    width: 25%;
    padding: 15px;
    border: dashed black;
    border-radius: 15px;
}

/* Header styles */
header {
    background-color: rgb(89, 77, 170);
    color: white;
    /* Remove any `position:absolute;` or `position:fixed;` lines */
    /* e.g. position: static; (static is the default) */
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    margin: 0;
}

/* Basic styling for table and form */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
main {
    margin: 0;
    padding: 0 20px;
}

nav.horizonBlocks ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.horizonBlocks li {
    margin: 0 10px;
    background-color: #307;
    display: inline;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
}
nav.horizonBlocks li:hover {
    margin: 0 10px;
    background-color: #60b;
    display: inline;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
}
nav.horizonBlocks a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

/*sidebar styling*/
.sidebar{
    position: absolute;
    width: 12%;
    height: fit-content;
    top: 120px;
    left: 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.sidebar ul{
    padding:0;
}

.sidebar ul li{
    list-style-type: none;
    text-align: center;
}

.sidebar ul li:hover{
    background-color: lightblue;
    border-radius: 10px;
}

/*footer styling */
footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;

    text-align: center;
    color: beige;
    background-color: rgb(89, 77, 170);
}